Задание 1
Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [161]:
datasets= pd.read_csv('ratings.csv')

In [162]:
rating_5 = datasets[ (datasets['rating'] == 5.0)]

In [163]:
movies = pd.read_csv('movies.csv')

In [166]:
rating_film = rating_5.merge(movies, on='movieId', how='left')

In [169]:
max_rating_film = rating_film['title'].value_counts(normalize=True).head(1)*100
max_rating_film

Shawshank Redemption, The (1994)    1.158126
Name: title, dtype: float64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [114]:
data = pd.read_csv('power.csv')

In [91]:
#data[ data['country'].str.contains('Esto', case=False) ]['country'].unique()

In [115]:
#Фильтруем по странам
filtered_countries = data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data ['country']=='Estonia')) ]

In [116]:
#Фильтруем по категориям
filtered_countries = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries ['category']==21)]

In [117]:
#Убираем отрицательные значения и ограничиваем временной интервал
filtered_countries = filtered_countries[ ((filtered_countries['quantity']>= 0)) & ((filtered_countries['year']>= 2005) & (filtered_countries['year']<= 2010)) ]

In [118]:
sum_consumption = filtered_countries['quantity'].sum()

In [119]:
print('Суммарное потребление стран Прибалтики', sum_consumption)

Суммарное потребление стран Прибалтики 240580.0

In [ ]:
# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

In [180]:

dataset = pd.read_html('https://fortrader.org/quotes')[1]
dataset.head()

                       Type         Last        Chg.       Chg.%  Time
0             ВТБ Акции ВТБ     0.047995  нет данных  нет данных   NaN
1    Газпром Акции газпрома   232.550000  нет данных  нет данных   NaN
2       Лукойл Акции Лукойл  6468.500000        -3.5        -0.1   NaN
3   Роснефть Акции Роснефти   462.750000       -0.10       -0.02   NaN
4  Сбербанк Акции Сбербанка   251.300000       -0.05       -0.02   NaN